html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

span,
p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #12d700;
}

img {
    width: 100%;
    justify-self: center;
}

.slot-span {
    position: absolute;
    right: 4px;
    bottom: 4px;
    z-index: 3;
    color: #D9D9D9;
}

/* ------------------------------------------------ */

#slot-section {
    width: 100%;
    height: 43%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
}

.slot {
    width: 100px;
    height: 70px;
    background-color: #5c5c5c;
    border-radius: 11px;
    position: relative;
    display: flex;
    margin: 10px;
    border: 1px solid #12d700;
}

.locked {
    background: #3a3a3a;
    border: 1px solid #7f7f7f;
    color: #D9D9D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------ */

#stats-upgrade-container {
    display: flex;
    height: 57%;
    flex-direction: column;
}

#stat-section {
    flex: 1;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#stats-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 75%;
    text-align: start;
}

#stats-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    height: 75%;
}

.right-aligned {
    text-align: right;
}

/* ------------------------------------------------ */

#upgrade-section {
    flex: 1;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.upgrade-button {
    height: 13.6%;
    background-color: #3a3a3a;
    border-radius: 11px;
    display: flex;
    align-items: center;
    margin: 0 5%;
    border: 1px solid #12d700;
}

.upgrade-text {
    color: #D9D9D9;
    margin: 0 5%;
    font-size: 12px;
    width: 100%;
}

/* ------------------------------------------------ */

@media only screen and (min-width: 600px) {

    #slot-section {
        height: 70vh;
        flex-direction: row;
    }

    .slot {
        transform: scale(1.3);
        margin: 0 20px;
    }

    #stats-upgrade-container {
        flex-direction: row;
    }

}

@media only screen and (min-width: 700px) {
    .slot {
        margin: 0 30px;
    }
}

@media only screen and (min-width: 800px) {

    .slot {
        transform: scale(1.6);
        margin: 0 40px;
    }

}

@media only screen and (min-width: 1160px) {
    main {
        width: 70%;
        margin: 0 auto;
    }

    #upgrade-section {
        border-radius: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .slot {
        margin: 0;
    }
}